/*Colores*/
$font_color: rgb(32, 31, 31);
$font_boton-newsletter: rgb(146, 144, 144);
$color_blanco: rgb(253, 253, 253);
$bg_desarrollo: rgb(233, 233, 233);
$bg_banner:rgb(199, 196, 194);
$bg_sticky:rgba(255, 255, 255, 0.979);

/*Font*/
$font_lato:'Lato', sans-serif;
$font_space:'Space Grotesk', sans-serif;